/* Menggunakan font Champion HTF Featherweight */
@font-face {
    font-family: 'Champion HTF Featherweight';
    src: url('Champion HTF-Featherweight Regular.otf') format('truetype'); /* Sesuaikan dengan path file font Anda */
    font-weight: normal;
    font-style: normal;
  }

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.5);
    /* Warna latar belakang transparan */
    backdrop-filter: blur(10px);
    /* Efek kaca */
    border-bottom: 1px solid #CEF53D;
    /* Stroke hijau tipis */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    /* Bayangan di bawah navbar */
    transition: background-color 0.5s ease-in-out;
    /* Efek transisi saat scroll */
}

.navbar {
    background-color: rgba(0, 0, 0, 0);
    /* Warna latar belakang transparan saat di-scroll */
}

.navbar-nav .nav-link {
    position: relative;
    color: #fff; /* Warna teks awal */
    transition: color 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffffff; /* Warna teks saat dihover */
  }
  
  .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: -2px; /* Jarak garis bawah dari teks */
    left: 0;
    width: 100%;
    height: 1px; /* Panjang garis bawah */
    background-color: #CEF53D; /* Warna garis bawah putih */
    transform: scaleX(0); /* Awalnya skala 0, akan tumbuh saat dihover */
    transition: transform 0.3s ease-in-out;
  }
  
  .navbar-nav .nav-link:hover::before {
    transform: scaleX(1); /* Tampilkan garis bawah saat dihover */
  }